absl-py==0.7.0
astor==0.7.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cymem==2.0.2
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
murmurhash==1.0.2
numpy==1.16.3
objectpath==0.6.1
plac==0.9.6
preshed==2.0.1
protobuf==3.7.1
pycparser==2.19
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorflow-datasets==1.0.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
tensorflow-hub==0.4.0
tensorflow-metadata==0.13.0
tensorflow-probability==0.6.0
tensorflow-serving-api-gpu==1.13.0
termcolor==1.1.0
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.3
Werkzeug==0.14.1
wrapt==1.10.11
