absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
gast==0.2.2
google-pasta==0.1.4
grpcio==1.19.0
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.0
numpy==1.16.2
plac==0.9.6
preshed==2.0.1
protobuf==3.7.0
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
tb-nightly==1.14.0a20190301
tensorflow==2.0.0a0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
